* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Source Sans Pro", sans-serif;
    color: #16334f;
}

.wrapper {
    white-space: normal;
    max-width: 980px;
    margin: 0 auto;
}
.margin-transform {
    animation-name: Margin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function:;
}
.margin-minus {
    animation-name: Minus;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function:;
}
@keyframes Margin {
    from {margin-bottom: 0;}
    to {margin-bottom: 4%;}
}
@keyframes Minus {
    from {margin-bottom: 4%;}
    to {margin-bottom: 0;}
}
main {
    margin-bottom: 2.72%;
}
.social div {
    width: 100%;
    padding: 0 12.88%;
    background-color: #16334f;
    text-align: right;
    font-size: .8rem;
    font-style: italic;
    font-weight: 400;
}

.social a {
    color: white;
    text-decoration: none;
    margin: 0 4px 0;
}

header section:last-child {
    width: 74.2268%;
    margin: 0 auto;
}

header > section > div {
    display: inline-block;
    width: 26.83%;
}

header > section > div > img {
    max-width: 100%;
    margin: 29px 0 27px;
}

.phone a {
    font-family: Lato;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1; 
}

header section nav {
    margin-top: 23px;
    display: inline-block;
    width: 72%;
    text-align: right;
    vertical-align: top;
}

header section nav ul {
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10px;
}
header section nav ul li {
    font-family: Roboto;
    list-style: none;
    display: block;
    font-size: .85rem;
    margin: 0;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
header section nav ul li ul {
    opacity: 0;
    display: block;
    position: absolute;
    list-style: none;
    left: -6999%;
    margin: 0;
    transition-property: opacity;
    transition-duration: 1s;
}
header section nav ul li ul a {
    white-space: nowrap;
    display: block;
}
header section nav ul li:hover ul {
    left: 0;
    opacity: 1;
    margin-bottom: 8px;
}
header section nav ul li > ul > li {
    font-size: 0.7rem;
    text-align: left;
    display: block;
    width: auto;
    padding-top: 10px;
}

header section nav > ul > li  a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

header section nav ul li a:after{
position: absolute;
top: 100%;
left: 0;
width: 0%;
border-bottom:1px solid #000;
content:"";
transition-property: width;
transition-duration: .3s;
}

header section nav ul li a:hover:after {
    width: 50%;
}

header section nav ul li a:before{
position: absolute;
top: 100%;
left: 100%;
width: 0%;
border-bottom: 1px solid #000;
content: "";
transition-property: width, left;
transition-duration: .3s;
}

header section nav ul li a:hover:before {
    width: 50%;
    left: 50%;
}

header section aside.phone {
}

.promo {
    position: relative;
    background-color: rgba(17, 15, 255, 0);
    display: flex;
    background-size: cover; 
    max-height: 355px;    
}
.promo > div {
    background-color: rgba(22, 51, 79, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.promo > div img {
    width: 100%;
    height: 100%;
}
.promo section.discount {
    display: flex;
    flex: 1;
}

.promo section.icons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: rgba(22, 51, 79, 0.7);
}

.promo section.icons article img {
    width: 100%;

}
.promo section.icons article img:hover {
    border: 4px #16334f solid;
    border-radius: 50%;
    src: url('src/icons/services.png');
}

.promo section.icons article {
    flex: 1;
    width: 20%;
    max-width: 58.8px;
    margin: 7px 4%;
    text-align: center;
}

.icons p, .icons p nobr {
    color: #f1f1f3;
    font-size: .6rem;
}
.triangle {
    position: relative;
    width: 28%;
    background-image: url(../src/triangle_right.png);
    background-size: cover;
    background-size: cover;
}
.triangle img {
    width: 25px;
}

.right {
    background-image: url(../src/elements/triangle_right.png);

}

.left {
    background-image: url(../src/elements/triangle_left.png);
}

.right div, .left div {
    width: 4.8%;
    position: absolute;
    top: 46%;
}

.right div {
    right: 8%;
}
.left div {
    left: 8%;
}

.discount article {
    width: 47%;
    position: relative;
}

.discount article ul {
    display: flex;
    vertical-align: middle;
    position: absolute;
    bottom: 1%;
    left: 40%;
    font-size: 20px;
    color: red;
}
.discount article ul li {
    display: inline;
    width: 19%;
    margin-right: 0px;
    color: white;
    list-style: none;
}

.discount article ul li img {
    width: 100%;
}

#prompt-form {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    width: 400px;
    background: white;
    vertical-align: middle;
    border-radius: 10px;
    position: relative;

}

#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#prompt-form input {
    display: block;
    margin: 9px 0;
    width: 100%;
    padding: 1%;
    font-style: italic;
    border: 2px #f3f3f3 solid;
}
#prompt-form textarea {
    resize: vertical;
    width: 100%;
    padding: 1%;
    font-style: italic;
    border: 2px #f3f3f3 solid;
    max-height: 300px;
    min-height: 100px;
    background: none;
}
#prompt-form button {
    display: inline-block;
    text-align: center;
    width: 45.5%;
    background-color: #be2228;
    color: #f1f1f3;
    font-family: Roboto;
    font-size: .75rem;
    margin: 0 auto;
    margin-top: 0px;
    border: none;
    padding: 3% 9.75%;
    margin-top: 3%;
}
.about {
    display: flex;
    margin: 70px 0 50px 0;
}

.about article.story {
    display: inline;
    justify-content: flex-end;
    width: 45%;
    padding-top: 4%;
}

.about article.story {
    text-align: center;
    margin: 0 7% 0 12%;
    
}

.about article.story h3, .news h3{
    font-family: Roboto;
    font-weight: 600;
    font-size: 10pt;
    padding: 0 6px 2px 6px;
    border-bottom: 1.5px #16334f solid;
    display: block;
    max-width: 30%;
    margin: 0 auto;
}
.about article.story h3 {
    margin-top: 7%;
}

.about article.story p {
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: .6rem;
    margin-top: 3%;
}

.stuff {
    display: inline;
    
}
/*@-moz-keyframes animationTwo {
    100% {
        transform: translate(70px);
        transform: scale(0.58);
    }
}*/
.karusel {
    width: 100%;
    overflow: hidden;    
}

#two {
   width: 30%;
}

.karusel img {
    width: 23%;
    padding: 0 2%;  
}

.stuff p {
    width: auto;
}

.description {
    display: flex;
    width: 77%;   
}
.description > div{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.description img {
    height: 20px;
    margin-top: 150%;
}
.partners {
    width: 65%;
    text-align: center;
    margin-top: 10px;
}

.partners .surname, .name {
    display: block;
    color: #be2228;
    font-weight: 600;
    font-size: 0.9em;
    font-family: Roboto;
    font-style: black;
}
.partners .position {
    font-size: 0.6875rem;
    padding: 5px 0 10px;
    font-weight: 100;
}

.news h3 {
    max-width: 15%;
    margin: 0 auto;
}
.news  section, .news-roll section {
    display: flex;
}

.news h3, .news-roll h3 {
    text-align: center;
    margin-bottom: 20px;
}

.news section a, .news-roll section article {
    text-decoration: none;
    flex: 1;
    margin: 0 4px;
}

.news article img, .news-roll article img {
    width: 100%;
}

.news h4, .news-roll h4 {
    font-family: Roboto;
    font-size: .87rem;
}

.news-roll {
    margin: 7% 0;
}

.news-roll .carousel {
  flex: 1;
  position: relative;
  width: 100%;
}

.news-roll .carousel img {


  display: block;
}

.news-roll .arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  display: block;
}
main > .post {
    min-height: 350px;
}

.news-roll .arrow:focus {
  outline: none;
}

.news-roll .arrow:hover {
  cursor: pointer;
}

.news-roll .prev {
  left: -5%;
}

.news-roll .next {
  right: -5%;
}

.news-roll .gallery {
  overflow: hidden;
}

.news-roll .gallery ul {
    display: flex;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.news-roll .gallery li {
    flex: 1;
    max-width: 153.333px;
}

.news h4 hr, .news-roll h4 hr {
    width: 80%;
    margin-top: 0.5em;
}

.news p, .news-roll p {
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: .65rem;
}

.map {
    margin-top: 50px;
}

footer {
    background-color: #16334f;
    display: flex;
    padding: 40px 10% 20px 10%;
    justify-content: space-around;
    clear: both;
}

footer p {
    display: inline-block;
    font-family: Helvetica;
    font-size: .5rem;
    color: #f1f1f3;
    vertical-align: text-top;
    line-height: 1.2em;
}

.footer-logo {
    width: 16%;
}

.footer-logo img {
    width: 100%;
}

.footer-icons {
    width: auto;
}

.footer-icons img {
    width: 10px;
    margin: 0 10px;
}

main aside {
    display: inline-block;
    max-width: 25%;
    margin-left: 1%;
}
.feedbacks aside  h3 {
    font-family: Roboto;
    font-style: bold;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 7%;
}

.feedbacks form * {    
    margin-bottom: 5%;
    font-size: .75rem;
}

.feedbacks input {
    width: 100%;
    padding: 3% 1% 3%;
    font-style: italic;
    border: 2px #f3f3f3 solid;
}

.feedbacks form textarea {
    resize: vertical;
    width: 100%;
    padding: 3% 1% 3%;
    font-style: italic;
    border: 2px #f3f3f3 solid;
}

.feedbacks form button {
    display: block;
    text-align: center;
    width: 45.5%;
    background-color: #be2228;
    color: #f1f1f3;
    font-family: Roboto;
    font-size: .75rem;
    margin: 0 auto;
    border: none;
    padding: 3% 9.75%;
    margin-top: 3%;
}

.feedbacks .publishing-time {
    margin-left: 0;
    margin-bottom: 1.5624%;
    margin-top: 0.7rem;
}

.feedbacks aside + section {
    font-family: "Source Sans Pro";
    font-size: .85rem;
    color: 
}

.feedbacks aside + section article p.publishing-time + p {
    margin-bottom: 2.5%;
}
.feedbacks .author {
    text-align: right;
    padding-right: 16.76%;
    font-family: "Source Sans Pro";
}
main aside + section {
    display: inline-block;
    width: 72.22%;
    float: right;
    padding-right: 1.5%;
    padding-left: 1.5%;
}

main {
    vertical-align: text-top;
}

.post article h3 {
    font-family: Roboto;
    font-size: 12pt;
    margin-bottom: 10px;
    margin-left: 33.75%;
}

.publishing-time {
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 8pt;
    margin-bottom: 25px;
    margin-left: 33.75%;
}

.post p.new {
    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12pt;
    text-align: justify;
    float: right;
    width: 66.25%;
    margin-bottom: 35px;
}



.news-roll {
    clear: both;
    font-size: .6rem;
}


.services {
    margin: 40px 0;
}

.services h3 {
    margin: 0 0 30px 33%;
    font-size: 1rem;
}

.services > section {
    float: right;
    width: 70%;
}

.services > section > section {
    display: flex;
    flex-wrap: wrap;
}

.services > section > article {
    font-size: .75rem;
    margin-bottom: 35px;
}

.services .serv-item {
    margin: 15px 0;
    display: flex;
    width: 50%;
}

.services .serv-item img {
    width: 75px;
    display: inline-block;
}

.services .serv-item p {
    width: 75%;
    display: table-cell;
    align-self: center;
    padding-left: 3.2%;
    font-size: .75rem;
    font-family: "Open Sans";
    font-weight: 300;
}

.services aside {
    width: 27.29%;
    text-align: justify;
}

.services aside .partners{
    width: 100%;
}
.services aside div {
    margin: 0 auto;
    width: 50%;
    
}
.services aside .partners img {
    width: 20.9%;
}
.services aside div img,
.services aside div p {
    margin: 0 auto;
}

.services cite {
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    padding-bottom: 20px;
    font-size: .9375rem;
}

.services aside div {
    margin-top: 30px;
}

.skidka {
    clear: both;
    margin: 50px auto 0;
    width: 80%;
    background-image: url(../src/sales/sale.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}

.skidka p {
    padding-top: 25%;
    color: #f1f1f3;
}

.skidka p:last-child {
    padding-top: 25px;
}

.team {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    font-size: .85rem;
}

.team article {
    font-family: "Source Sans Pro";
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0px auto 0;
}

.team article p:last-child {
    margin-top: 10px;
}

.team header {
    font-family: Roboto;
    font-style: bold;
    font-weight: 600;
    border-bottom: 1px #16334f solid;
    padding-bottom: 7px;
    display: inline-block;
    margin: 25px auto;
}

.team > section:first-child {
    width: 75%;
    
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: center;
}

.clients-logos {
    
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto 50px;
    vertical-align: middle;
}

.clients-logos div {
    width: 10%;
    margin: 0 1%;
    display: inline-block;
}
.clients-logos div img {
    width: 100%;
    vertical-align: middle;
}

.team .person {
    display: inline-block;
    width: 30%;
    margin: 20px 10px;
}
.team .partners {
    width: 100%;
}

.team .person img {
    display: block;
    width: 125px;
    margin: 0 auto;
}

.team .person p:last-child {
    font-family: "Source Sans Pro";
    font-size: .75rem;
    font-weight: 600;
    width: 80%;
    margin: 0 auto;
}

.single-service section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.single-service section article:nth-child(1) {
    width: 27.1875%;
}
.single-service section article:nth-child(1) img {
    width: 100%;
}

.single-service section article:nth-child(3) {
    width: 28.4895%;
}

.single-service section article {
    margin: 0 1.09375% 0 1.5625%;
}
.single-service section article:nth-child(2) {
    width: 35.45%;
}