<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>feedbacks</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>            
        <section class="social">
            <div>
                <a href="vk.com">vk.com</a>
                <a href="facebook.com">facebook</a>
                <a href="linkedin.com">linkedin</a>
            </div>
        </section>
        <section> 
            <div>
                <img src="src/logo/LOGO.jpg" alt="">
            </div>
            <nav>   
                <aside class="phone"><a href="tel:+78121234567">+7 (812) 123-45-67</a></aside>
                <ul>
                    <li><a href="index.html">ГЛАВНАЯ</a></li>
                    <li><a href="team.html">О НАС</a></li>
                    <li><a href="services.html">УСЛУГИ</a></li>
                    <li><a href="feedbacks.html">ОТЗЫВЫ</a></li>
                    <li><a href="news.html">НОВОСТИ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </nav>
        </section>
        </header>
        <main class="feedbacks">
            <aside>
                <h3>ОСТАВЬТЕ ВАШ ОТЗЫВ</h3>
                <form action="">
                    <input type="text" placeholder="Введите ваше имя:">
                    <input type="text" placeholder="Введите вашу фамилию:">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Введите текст:"></textarea>
                    <button>ОТПРАВИТЬ</button>
                </form>
            </aside>
            <section>
                <article>
                    <p class="publishing-time">01.01.2019</p>
                    <p>Компетентные специалисты осуществляют индивидуальный подход к каждому отдельному случаю, что позволяет достигать наилучших результатов в разрешении непростых ситуаций. Компания поможет в составлении необходимых документов и подачи их в суд. Нередко компания проводит бесплатные консультации, а для льготных категорий населения (ветераны ВОВ, ветераны боевых действий, многодетные семьи, ветераны труда, пенсионеры, матери-одиночки, инвалиды) действуют постоянные скидки. Компетентная помощь специалистов юридической компании «АТИС» поможет успешно решить многие проблемы.</p>
                    <p class="author"><strong>Краснова В.А.</strong></p>
                    <p class="author"><strong>Пенсионерка</strong></p>
                </article>
                <article>
                    <p class="publishing-time">01.01.2019</p>
                    <p>Компетентные специалисты осуществляют индивидуальный подход к каждому отдельному случаю, что позволяет достигать наилучших результатов в разрешении непростых ситуаций. Компания поможет в составлении необходимых документов и подачи их в суд. Нередко компания проводит бесплатные консультации, а для льготных категорий населения (ветераны ВОВ, ветераны боевых действий, многодетные семьи, ветераны труда, пенсионеры, матери-одиночки, инвалиды) действуют постоянные скидки. Компетентная помощь специалистов юридической компании «АТИС» поможет успешно решить многие проблемы.</p>
                    <p class="author"><strong>Краснова В.А.</strong></p>
                    <p class="author"><strong>Пенсионерка</strong></p>
                </article>
                <article>
                    <p class="publishing-time">01.01.2019</p>
                    <p>Компетентные специалисты осуществляют индивидуальный подход к каждому отдельному случаю, что позволяет достигать наилучших результатов в разрешении непростых ситуаций. Компания поможет в составлении необходимых документов и подачи их в суд. Нередко компания проводит бесплатные консультации, а для льготных категорий населения (ветераны ВОВ, ветераны боевых действий, многодетные семьи, ветераны труда, пенсионеры, матери-одиночки, инвалиды) действуют постоянные скидки. Компетентная помощь специалистов юридической компании «АТИС» поможет успешно решить многие проблемы.</p>
                    <p class="author"><strong>Краснова В.А.</strong></p>
                    <p class="author"><strong>Пенсионерка</strong></p>
                </article>
                <article>
                    <p class="publishing-time">01.01.2019</p>
                    <p>Компетентные специалисты осуществляют индивидуальный подход к каждому отдельному случаю, что позволяет достигать наилучших результатов в разрешении непростых ситуаций. Компания поможет в составлении необходимых документов и подачи их в суд. Нередко компания проводит бесплатные консультации, а для льготных категорий населения (ветераны ВОВ, ветераны боевых действий, многодетные семьи, ветераны труда, пенсионеры, матери-одиночки, инвалиды) действуют постоянные скидки. Компетентная помощь специалистов юридической компании «АТИС» поможет успешно решить многие проблемы.</p>
                    <p class="author"><strong>Краснова В.А.</strong></p>
                    <p class="author"><strong>Пенсионерка</strong></p>
                </article>
            </section>
        </main>
        <footer>
            <section class="footer-logo">
                <img src="src/logo/logo.png" alt="">
            </section>
            <section class="adress">
                <p>ООО “АТИС”<br>
                г. Санкт-Петербург<br>
                ул. Ленина, 56/2<br>
                офис 215</p>
                <p>ОГРН: 17654161985601<br>
                ИНН/КПП: 2837542/273456<br>
                Лицензия №17412345</p>
            </section>
            <section class="footer-icons">
                <img src="src/icons/socials/fb.png" alt="">
                <img src="src/icons/socials/vk.png" alt="">
                <img src="src/icons/socials/skype.png" alt="">
            </section>
        </footer>
    </div>
    <script>
                function locateDetecting() {
            var loc = document.location;
            var array = loc.href.split('/');
            var nav = document.querySelectorAll('header section nav ul li a');
            nav.forEach(function(item) {
                if(item.getAttribute('href') === array[array.length - 1]) {
                    item.setAttribute('style', 'border-bottom: 1px #16334f solid');
                }
            });
        }
        locateDetecting();
    </script>
</body>
</html>