<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATIS</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>            
        <section class="social">
            <div>
                <a href="vk.com">vk.com</a>
                <a href="facebook.com">facebook</a>
                <a href="linkedin.com">linkedin</a>
            </div>
        </section>
        <section> 
            <div>
                <img src="src/logo/LOGO.jpg" alt="">
            </div>
            <nav>   
                <aside class="phone"><a href="tel:+78121234567">+7 (812) 123-45-67</a></aside>
                <ul>
                    <li><a href="index.html">ГЛАВНАЯ</a></li>
                    <li><a href="team.html">О НАС</a></li>
                    <li><a href="services.html">УСЛУГИ</a></li>
                    <li><a href="feedbacks.html">ОТЗЫВЫ</a></li>
                    <li><a href="news.html">НОВОСТИ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </nav>
        </section>
        </header>
        <main>
            <section class="promo">
                <section class="discount">
                    <div class="triangle-right">
                    </div>
                    <article>
                    </article>
                    <div class="triangle-left">
                    </div>
                </section>
                <section class="icons">
                    <article>
                        <img src="src/icons/services/repair.png" alt="">
                        <p>Споры по КАСКО/ОСАГО</p>
                    </article>
                    <article>
                        <img src="src/icons/services/forms.png" alt="">
                        <p>Заказ бесплатной консультации</p>
                    </article>
                    <article>
                        <img src="src/icons/services/calc_blue.png" alt="">
                        <p>Возмещение вреда от ДТП</p>
                    </article>
                    <article>
                        <img src="src/icons/services/buyer.png" alt="">
                        <p>Юридическая поддержка в судах</p>
                    </article>
                    <article>
                        <img src="src/icons/services/testamentum.png" alt="">
                        <p>Защита прав потребителей</p>
                    </article>
                    <article>
                        <img src="src/icons/services/storage.png" alt="">
                        <p>Раздел имущества</p>
                    </article>
                    <article>
                        <img src="src/icons/services/order.png" alt="">
                        <p>Наследство</p>
                    </article>
                    <article>
                        <img src="src/icons/services/law.png" alt="">
                        <p>Личные консультации специалистов</p>
                    </article>
                    <article>
                        <img src="src/icons/services/kasko.png" alt="">
                        <p>Сдача бухгалтерской и налоговой отчетности</p>
                    </article>
                    <article>
                        <img src="src/icons/services/files.png" alt="">
                        <p>Сбор первичной документации</p>
                    </article>
                    <article>
                        <img src="src/icons/services/employee.png" alt="">
                        <p><nobr>Кадровый учет</nobr> и расчет зарплат</p>
                    </article>
                    <article>
                        <img src="src/icons/services/dtp.png" alt="">
                        <p>Заполнение налоговых деклараций</p>
                    </article>
                    <article>
                        <img src="src/icons/services/consalt.png" alt="">
                        <p>Персональный<br>учет</p>
                    </article>
                    <article>
                        <img src="src/icons/services/call.png" alt="">
                        <p>Возобновление бухгалтерского учета</p>
                    </article>
                    <article>
                        <img src="src/icons/services/personal.png" alt="">
                        <p>Калькулятор<br>бухгалтерского<br>обслуживания</p>
                    </article>
                </section>
            </section>
            <section class="about">
                <article class="story">
                    <h3>КТО МЫ</h3>
                    <p>
                        Консалтинговая компания «АТИС» оказывает петербургским предприятиям, а также предприятиям из других регионов и индивидуальным предпринимателям бухгалтерские, юридические, консалтинговые услуги. Квалифицированное содействие наших специалистов - это важная  помощь в деятельности любого предприятия.
                    </p>
                </article>
                <article class="stuff">
                    <div class="karusel">
                        <img  src="src/stuff/stuff_1.png" id="one" class="nods" alt="">
                        <img src="src/stuff/stuff_2.png" id="two" class="nods" alt="">
                        <img src="src/stuff/stuff_3.png" id="three" class="nods" alt="">
                    </div>
                    <section class ="description">
                        <div>
                            <div>
                            <img src="src/left-32.png" class="karusel-left" onclick="changeLeft()">
                            </div>
                            <div class="partners">
                                <p class="surname">МЕДВЕДЕВ<br></p>
                                <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                                <p class="position">Генеральный бухгалтер</p>
                            </div>
                            <div>
                                <img src="src/right-32.png" class="karusel-right" onclick="changeLeft()">
                            </div>
                        </div>
                    </section>         
                </article>
            </section>
            <section class="news">
                <h3>НОВОСТИ</h3>
                <section>    
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                </section>    
            </section>
            <section class="map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac62ce7c71493a3e0c9561917ae3a97514f8a42c1e160170049ba85df6598d44f&amp;source=constructor" width="980" height="185" frameborder="0"></iframe>
            </section>
        </main>
        <footer>
            <section class="footer-logo">
                <img src="src/logo/logo.png" alt="">
            </section>
            <section class="adress">
                <p>ООО “АТИС”<br>
                г. Санкт-Петербург<br>
                ул. Ленина, 56/2<br>
                офис 215</p>
                <p>ОГРН: 17654161985601<br>
                ИНН/КПП: 2837542/273456<br>
                Лицензия №17412345</p>
            </section>
            <section class="footer-icons">
                <img src="src/icons/socials/fb.png" alt="">
                <img src="src/icons/socials/vk.png" alt="">
                <img src="src/icons/socials/skype.png" alt="">
            </section>
        </footer>
    </div>
    <script>
        'use strict';
        function locateDetecting() {
            var loc = document.location;
            var array = loc.href.split('/');
            var nav = document.querySelectorAll('header section nav ul li a');
            nav.forEach(function(item) {
                if(item.getAttribute('href') === array[array.length - 1]) {
                    item.setAttribute('style', 'border-bottom: 1px #16334f solid');
                }
            });
        }
        locateDetecting();
        
        var stuff = [
            {
                'firstName': 'АНДРЕЙ', 
                'secondName': 'АЛЕКСАНДРОВИЧ',
                'lastName': 'МАЗЕНЬКОВ',
                'position': 'Главный юрист',
                'image': 'src/stuff/stuff_1.png',
                'index': 1
            },
            
            {
                'firstName': 'АЛЕКСАНДР', 
                'secondName': 'ВАЛЕРИЕВИЧ',
                'lastName': 'МЕДВЕДЕВ',
                'position': 'Генеральный директор',
                'image': 'src/stuff/stuff_2.png',
                'index': 2
            },

            {
                'firstName': 'ЛЮБОВЬ', 
                'secondName': 'НИКОЛАЕВНА',
                'lastName': 'ЕРМОЛАЕВА',
                'position': 'Главный бухгалтер',
                'image': 'src/stuff/stuff_3.png',
                'index': 3
            }  
        ];
        var first = stuff[0];
        var second = stuff[1];
        var third = stuff[2];
        
        var array = [first, second, third];
        var br = document.createElement('br');
        var p = document.createElement('p');
        
        function changeLeft() {
            setTimeout(function() {
                if(array[0].index === 1 && array[1].index === 2 && array[2].index === 3) {
                    array = [second, third, first];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;
                    console.log(array[1].index);
                }
                else if(array[0].index === 2 && array[1].index === 3 && array[2].index === 1) {
                    array = [third, first, second];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;   
                    console.log(array[1].index);
                }
                else{
                    array = [first, second, third];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;
                    console.log(array[1].index);
                }
            }, 300);
        }
        
        function changeRight() {
            setTimeout(function() {
                if(array[0].index === 1 && array[1].index === 2 && array[2].index === 3) {
                    array = [third, first, second];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;
                    console.log(array[1].index);
                }
                else if(array[0].index === 3 && array[1].index === 1 && array[2].index === 2) {
                    array = [second, third, first];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;   
                    console.log(array[1].index);
                }
                else{
                    array = [first, second, third];
                    document.querySelectorAll('.karusel img')[0].setAttribute('src', array[0].image);
                    document.querySelectorAll('.karusel img')[1].setAttribute('src', array[1].image);
                    document.querySelectorAll('.karusel img')[2].setAttribute('src', array[2].image);
                    document.querySelector('.partners .surname').textContent = array[1].lastName;
                    document.querySelector('.partners .name').textContent = array[1].firstName + ' ' + array[1].secondName;
                    document.querySelector('.partners .position').textContent = array[1].position;
                    console.log(array[1].index);
                }
            }, 300);
        }
    </script>
</body>
</html>