<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>            
        <section class="social">
            <div>
                <a href="vk.com">vk.com</a>
                <a href="facebook.com">facebook</a>
                <a href="linkedin.com">linkedin</a>
            </div>
        </section>
        <section> 
            <div>
                <img src="src/logo/LOGO.jpg" alt="">
            </div>
            <nav>   
                <aside class="phone"><a href="tel:+78121234567">+7 (812) 123-45-67</a></aside>
                <ul>
                    <li><a href="index.html">ГЛАВНАЯ</a></li>
                    <li><a href="team.html">О НАС</a></li>
                    <li><a href="services.html">УСЛУГИ</a></li>
                    <li><a href="feedbacks.html">ОТЗЫВЫ</a></li>
                    <li><a href="news.html">НОВОСТИ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </nav>
        </section>
        </header>
        <main>
            <section class="post">
                <article>
                    <h3>Центробанк заявил об улучшении ситуации в банковском секторе</h3>
                    <p class="publishing-time">01.01.2019</p>
                    <section>    
                        <img src="src/news/new.jpg" alt="">
                        <p class="new">
                        Ситуация в банковском секторе РФ улучшилась на фоне позитивных тенденций в экономике и снижения кредитного риска, заявила директор департамента финансовой стабильности ЦБ Елизавета Данилова в ходе Международного РЕПО-форума, организованного Национальной фондовой ассоциацией.

                        «В целом ситуация улучшается, поскольку улучшения в экономике транслируются на банковский сектор. Если говорить о банках в целом, то мы здесь видим улучшение — снижение кредитных рисков. Именно кредитный риск был основным риском в последние годы. Если исключить все банки, о которых вы упомянули (крупные банки на санации. — Прим. ред.), то мы увидим существенное улучшение качества кредитного портфеля, статистика показывает, практически по всем отраслям. Широкое улучшение ситуации по банкам в целом. Но тем не менее, естественно, в новой ситуации возможно возникновение новых рисков. Необходимо смотреть также за процентным риском, например», — сказала Данилова.

                        В августе ЦБ объявил о санации банковской группы «ФК Открытие» с использованием средств Фонда консолидации банковского сектора (ФКБС). В сентябре аналогичные меры были применены к Бинбанку. В декабре оба банка перешли под управление УК ФКБС. 15 декабря ЦБ сообщил о начале санации Промсвязьбанка.
                    </p>
                    </section>
                </article>
            </section>
            <section class="news-roll">
                <section>    
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Патент: пени начислят, а штраф нет
                            <hr>
                        </h4>
                        <p>Если предприниматель внес плату за патент с нарушением установленного срока, то помимо самого «патентного» налога ему придется уплатить еще и пени за просрочку. А вот штрафовать нерасторопного предпринимателя налоговики не будут</p>
                    </article>
                    <article>
                        <img src="src/news/new.jpg" alt="">
                        <h4>
                            Может ли банк вернуть  платежку
                            <hr>
                        </h4>
                        <p>Минфин считает, что банк не должен отказывать в приеме бумажного платежного поручения, если в нем неверно заполнен реквизит «Очередность платежа»</p>
                    </article>
                </section>
            </section>
        </main>
        <footer>
            <section class="footer-logo">
                <img src="src/logo/logo.png" alt="">
            </section>
            <section class="adress">
                <p>ООО “АТИС”<br>
                г. Санкт-Петербург<br>
                ул. Ленина, 56/2<br>
                офис 215</p>
                <p>ОГРН: 17654161985601<br>
                ИНН/КПП: 2837542/273456<br>
                Лицензия №17412345</p>
            </section>
            <section class="footer-icons">
                <img src="src/icons/socials/fb.png" alt="">
                <img src="src/icons/socials/vk.png" alt="">
                <img src="src/icons/socials/skype.png" alt="">
            </section>
        </footer>
    </div>
    <script>
                function locateDetecting() {
            var loc = document.location;
            var array = loc.href.split('/');
            var nav = document.querySelectorAll('header section nav ul li a');
            nav.forEach(function(item) {
                if(item.getAttribute('href') === array[array.length - 1]) {
                    item.setAttribute('style', 'border-bottom: 1px #16334f solid');
                }
            });
        }
        locateDetecting();
    </script>
</body>
</html>