<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>team</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>            
        <section class="social">
            <div>
                <a href="vk.com">vk.com</a>
                <a href="facebook.com">facebook</a>
                <a href="linkedin.com">linkedin</a>
            </div>
        </section>
        <section> 
            <div>
                <img src="src/logo/LOGO.jpg" alt="">
            </div>
            <nav>   
                <aside class="phone"><a href="tel:+78121234567">+7 (812) 123-45-67</a></aside>
                <ul>
                    <li><a href="index.html">ГЛАВНАЯ</a></li>
                    <li><a href="team.html">О НАС</a></li>
                    <li><a href="services.html">УСЛУГИ</a></li>
                    <li><a href="feedbacks.html">ОТЗЫВЫ</a></li>
                    <li><a href="news.html">НОВОСТИ</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </nav>
        </section>
        </header>
        <main class="team">
            <article>
                <p>Консалтинговая компания «АТИС» оказывает петербургским предприятиям, а также предприятиям из других регионов и индивидуальным предпринимателям бухгалтерские, юридические, консалтинговые услуги. Квалифицированное содействие наших специалистов - это важная  помощь в деятельности любого предприятия.
                </p>
                <p>К Вашим услугам квалифицированные специалисты: юристы,налоговые адвокаты,бухгалтеры,аудиторы.
                </p>
            </article>
            <header>
                    <p>НАШИ СОТРУДНИКИ</p>
            </header>
            <section>
                <article class="person">
                    <img src="src/stuff/stuff_1.png" alt="">
                    <div class="partners">
                        <p class="surname">МЕДВЕДЕВ<br></p>
                        <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                        <p class="position">Генеральный бухгалтер</p>
                        <p>Никола́ Пуссе́н (фр. Nicolas Poussin; в Италии его именовали Никколо́ Пусси́но (итал. Niccolò Pussino); 1594, Лез-Андели, Нормандия — 19 ноября 1665, Рим) — французский художник, один из основоположников живописи классицизма.</p>
                    </div>
                </article>
                <article class="person">
                    <img src="src/stuff/stuff_1.png" alt="">
                    <div class="partners">
                        <p class="surname">МЕДВЕДЕВ<br></p>
                        <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                        <p class="position">Генеральный бухгалтер</p>
                        <p>Никола́ Пуссе́н (фр. Nicolas Poussin; в Италии его именовали Никколо́ Пусси́но (итал. Niccolò Pussino); 1594, Лез-Андели, Нормандия — 19 ноября 1665, Рим) — французский художник, один из основоположников живописи классицизма.</p>
                    </div>
                </article>
                <article class="person">
                    <img src="src/stuff/stuff_1.png" alt="">
                    <div class="partners">
                        <p class="surname">МЕДВЕДЕВ<br></p>
                        <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                        <p class="position">Генеральный бухгалтер</p>
                        <p>Никола́ Пуссе́н (фр. Nicolas Poussin; в Италии его именовали Никколо́ Пусси́но (итал. Niccolò Pussino); 1594, Лез-Андели, Нормандия — 19 ноября 1665, Рим) — французский художник, один из основоположников живописи классицизма.</p>
                    </div>
                </article>
                <article class="person">
                    <img src="src/stuff/stuff_1.png" alt="">
                    <div class="partners">
                        <p class="surname">МЕДВЕДЕВ<br></p>
                        <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                        <p class="position">Генеральный бухгалтер</p>
                        <p>Никола́ Пуссе́н (фр. Nicolas Poussin; в Италии его именовали Никколо́ Пусси́но (итал. Niccolò Pussino); 1594, Лез-Андели, Нормандия — 19 ноября 1665, Рим) — французский художник, один из основоположников живописи классицизма.</p>
                    </div>
                </article>
                <article class="person">
                    <img src="src/stuff/stuff_1.png" alt="">
                    <div class="partners">
                        <p class="surname">МЕДВЕДЕВ<br></p>
                        <p class="name">АЛЕКСАНДР ВАЛЕРИЕВИЧ</p>
                        <p class="position">Генеральный бухгалтер</p>
                        <p>Никола́ Пуссе́н (фр. Nicolas Poussin; в Италии его именовали Никколо́ Пусси́но (итал. Niccolò Pussino); 1594, Лез-Андели, Нормандия — 19 ноября 1665, Рим) — французский художник, один из основоположников живописи классицизма.</p>
                    </div>
                </article>
            </section>
            <header>
                <p>НАМ ДОВЕРЯЮТ</p>
            </header>
            
        </main>
        <section class="clients-logos">
                <div><img src="src/clients/avg.png" alt=""></div>
                <div><img src="src/clients/dell.png" alt=""></div>
                <div><img src="src/clients/knight.png" alt=""></div>
                <div><img src="src/clients/lenovo.gif" alt=""></div>
                <div><img src="src/clients/logo_total.png" alt=""></div>
                <div><img src="src/clients/mazda.png" alt=""></div>
                <div><img src="src/clients/microsoft.png" alt=""></div>
                <div><img src="src/clients/wayland_logo.png" alt=""></div>
            </section>
        <footer>
            <section class="footer-logo">
                <img src="src/logo/logo.png" alt="">
            </section>
            <section class="adress">
                <p>ООО “АТИС”<br>
                г. Санкт-Петербург<br>
                ул. Ленина, 56/2<br>
                офис 215</p>
                <p>ОГРН: 17654161985601<br>
                ИНН/КПП: 2837542/273456<br>
                Лицензия №17412345</p>
            </section>
            <section class="footer-icons">
                <img src="src/icons/socials/fb.png" alt="">
                <img src="src/icons/socials/vk.png" alt="">
                <img src="src/icons/socials/skype.png" alt="">
            </section>
        </footer>
    </div>
    <script>
        function locateDetecting() {
            var loc = document.location;
            var array = loc.href.split('/');
            var nav = document.querySelectorAll('header section nav ul li a');
            nav.forEach(function(item) {
                if(item.getAttribute('href') === array[array.length - 1]) {
                    item.setAttribute('style', 'border-bottom: 1px #16334f solid');
                }
            });
        }
        locateDetecting();
    </script>
</body>
</html>